*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
}


header{
    height: 60px;
    margin-bottom: 50px;
}
.logo{
    width: 30%;
    display: inline-block;
}
.header-links{
    width: 69%;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.header-links li{
    display: inline-block;
    font-size: 17px;
    transition: 0.4s;
    color: black;
}
.header-links li:hover{
    color: #167CFA;
}

.header-links li a img{
    transition: .2s ease-in;
}

.header-links li:hover a img{
    transform: rotate(-90deg);
    transition: .2s ease-in;
}
.header-links li a{
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-bottom: 100px;
}
.landing{
    min-height: 80vh;
}
.landing article{
    padding-top: 30px;
    width: 45%;
    display: inline-block;
}
.landing figure{
    width: 50%;
    border: 1px solid black;
    height: 500px;
    float: right;
}
.landing h1{
    font-size: 55px;
    margin-bottom: 40px;
}
.landing p{
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 30px;
}

.landing .cta a{
    border: 1px solid blue;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    color: blue;
    transition: 0.4s;
    font-size: 16px;
    background-color: white;
    padding: 13px 50px;
}
.landing .cta a.first{
    color: white;
    margin-right: 10px;
    background-color: blue;
}
.landing .cta a:hover{
    color: white;
    background-color: blue;
}

.offer h2{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 25px;
}
#offer{
    display: flex;
    justify-content: space-between;
}
#offer div{
    width: 23%;
    padding: 30px;
    border-radius: 20px;
    transition: .3s ease-in;

}
#offer div:hover{
    background-color: rgb(250, 250, 250);
    box-shadow: 0 7px 10px rgba(207, 207, 207, 0.693);
}
#offer h4{
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px;
}
#offer p{
    font-size: 14px;
    line-height: 21px;
}

#specializations{
    display: flex;
    gap: 25%;
    margin-bottom: 100px;
}
#specializations h2{
    font-size: 30px;
}

#specializations p{
    max-width: 55%;
    font-size: 14px;
    border: 1px solid
     black;
}
.spec-divs{
    display: block;
    display: flex;
    justify-content: space-between;
}
.spec-divs div{
    box-shadow: 0 0 12px  rgba(211, 211, 211, 0.679);
    background-color: white;
    border-radius: 10px;
    width: 23%;
}
.spec-divs div ul li{
    list-style: none;
    font-size: 13px;
    margin-bottom: 10px;
}
.spec-divs div article{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px;
}
.spec-divs img{
    aspect-ratio: 1/1;
}
.spec-divs h5{
    margin-bottom: 22px;
    font-size: 20px;
}
.services h2{
    font-size: 30px;
    margin-bottom: 50px;
}
.services article{
    width: 45%;
    padding-right: 50px;
    display: inline-block;
}
.services article p{
    font-size: 13px;
    line-height: 30px;
}
.services figure{
    width: 50%;
    float: right;
    border: 1px solid black;
    height: 300px;
    vertical-align: top;
}

