*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
}


header{
    height: 60px;
    margin-bottom: 50px;
}
.logo{
    width: 30%;
    display: inline-block;
}
.header-links{
    width: 69%;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.header-links li{
    display: inline-block;
    font-size: 17px;
    transition: 0.4s;
    color: black;
}
.header-links li:hover{
    color: blue;
}
.header-links li a{
    color: inherit;
    text-decoration: none;
}
.landing{
    margin-bottom: 100px;
    min-height: 80vh;
}
.landing article{
    padding-top: 30px;
    width: 45%;
    display: inline-block;
}
.landing figure{
    width: 50%;
    border: 1px solid black;
    height: 500px;
    float: right;
}
.landing h1{
    font-size: 55px;
    margin-bottom: 40px;
}
.landing p{
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 30px;
}

.landing .cta a{
    border: 1px solid blue;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    color: blue;
    transition: 0.4s;
    font-size: 16px;
    background-color: white;
    padding: 13px 50px;
}
.landing .cta a.first{
    color: white;
    margin-right: 10px;
    background-color: blue;
}
.landing .cta a:hover{
    color: white;
    background-color: blue;
}
.offer{
    margin-bottom: 100px;
}
.offer h2{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
}
#offer{
    display: flex;
    justify-content: space-between;
}
#offer div{
    width: 23%;
    padding: 30px;
    border-radius: 20px;
    transition: 0.4s;
}
#offer div:hover{
    background-color: rgb(250, 250, 250);
    box-shadow: 0 7px 10px rgba(207, 207, 207, 0.693);
}
#offer h4{
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px;
}
#offer p{
    font-size: 14px;
    line-height: 21px;
}